html,
body,
main,
.App {
  font-family: "Lato", sans-serif;
  background-color: #111;
  color: #eee; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.Header {
  width: 100%;
  padding: 15px;
  background-color: #000;
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: stretch;
  justify-content: space-between; }
  .Header .Logo {
    font-weight: 700;
    font-size: 1.2em; }
  .Header .Nav ul li {
    display: inline-block;
    margin-right: 10px; }
  .Header .Nav ul li:last-child {
    margin-right: 0; }
  .Header a {
    text-decoration: none;
    color: #eee; }

.Hero {
  text-align: center; }
  .Hero .container {
    position: relative; }
    .Hero .container .content {
      position: absolute;
      z-index: 2;
      top: 10%;
      left: 50%;
      text-align: center;
      transform: translateX(-50%) translateY(0%);
      font-size: 2em; }
      .Hero .container .content .image {
        width: 985.33333px;
        height: 601.33333px;
        margin: auto; }
    .Hero .container canvas {
      width: 100%;
      height: 500px;
      background: black; }
