h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
  font-family: "Dosis", sans-serif; }

h3 {
  font-size: 1.2em;
  margin-bottom: 25px;
  font-family: "Dosis", sans-serif; }

a {
  color: #eee; }

.Code {
  font-family: monospace;
  background: #2b2b2b;
  padding: 3px;
  border-radius: 3px; }

html,
body,
main,
.App {
  font-family: "Barlow", sans-serif;
  background-color: #111;
  color: #eee; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

button {
  background: #4202ff;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-family: "Dosis", sans-serif; }

button:hover {
  background: #3400ce; }

button.small {
  padding: 10px 25px; }

.Page {
  padding: 0 20px;
  padding-top: 60px; }
  .Page .Content {
    padding: 60px 0;
    max-width: 1200px;
    margin: auto; }
    .Page .Content header {
      text-align: center; }
    .Page .Content footer {
      text-align: center; }
  .Page.Home {
    padding: 0; }
    .Page.Home .Content {
      padding: 0; }

.Grid {
  display: grid;
  margin: auto; }
  .Grid .Item .Media {
    display: block;
    max-width: 100%;
    height: 300px;
    background: #4202ff;
    margin-bottom: 30px; }
  .Grid.About {
    padding: 30px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 72px 32px; }

.Hero .Grid {
  position: relative;
  grid-template-columns: 1fr 1.8fr;
  grid-gap: 50px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  height: calc(100vh - 60px);
  text-align: left; }

.Header {
  width: 100%;
  padding: 0 20px;
  height: 60px;
  background-color: #000;
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: fixed; }
  .Header .Logo {
    font-weight: 700;
    font-size: 1.2em; }
  .Header .Nav {
    font-size: 0.9em; }
    .Header .Nav ul li {
      display: inline-block;
      margin-right: 15px; }
      .Header .Nav ul li a {
        background: #000;
        padding: 5px 10px;
        border-radius: 5px; }
      .Header .Nav ul li a:hover {
        background: #1e1e1e; }
      .Header .Nav ul li a.active {
        background: #2b2b2b; }
    .Header .Nav ul li:last-child {
      margin-right: 0; }
    .Header .Nav button {
      font-family: "Dosis", sans-serif; }
  .Header a {
    text-decoration: none;
    color: #eee; }

.Footer {
  position: relative;
  text-align: center;
  font-size: 0.8em; }
  .Footer a {
    color: #eee; }

.Hero {
  text-align: center; }
  .Hero canvas {
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5; }
  .Hero .content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    grid-gap: 50px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    height: calc(100vh - 60px);
    text-align: left; }
  .Hero .Blurb h2 {
    font-size: 3.8em;
    margin-bottom: 60px; }
  .Hero .Blurb p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 20px; }
  .Hero video {
    width: 100%;
    height: 75%; }
  .Hero img {
    width: 100%; }
  .Hero .container {
    position: relative; }
    .Hero .container .content {
      position: absolute;
      z-index: 2;
      top: 10%;
      left: 50%;
      text-align: center;
      font-size: 2em; }
      .Hero .container .content .content-wrap {
        display: flex;
        align-items: center;
        justify-content: center; }
        .Hero .container .content .content-wrap .blurb {
          width: 100%; }
        .Hero .container .content .content-wrap .image {
          width: 985.33333px;
          height: 601.33333px;
          transform: translateX(-50%) translateY(0%);
          margin: auto; }
