.Logo {
  font-weight: 700;
  font-size: 1.2em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: $padding-xxl;
  font-family: $app-font-header;
}

h3 {
  font-size: 1.6em;
  margin-bottom: $padding-xl;
  font-family: $app-font-header;
}

h4 {
  font-size: 1.4em;
  margin-bottom: $padding-l;
  font-family: $app-font-header;
}

h5 {
  font-size: 1.2em;
  margin-bottom: $padding-m;
  font-family: $app-font-header;
}

button,
.button {
  font-size: 1em;
}

b {
  font-weight: bold;
}

p {
  line-height: 1.4em;
}

.Details {
  p {
    line-height: 1.8em;
  }
}

table {
  td {
    p {
      line-height: 1.4em;
    }
  }
}

form {
  font-family: $app-font-body;

  input,
  select {
    font-family: $app-font-body;
    font-size: 1em;
  }
}

footer {
  font-size: 0.9em;

  button,
  .button {
    font-size: 1rem;
  }
}

.center {
  text-align: center;
}

a {
  color: $app-color;
}

.Code {
  color: rgb(221, 221, 221);
  font-size: 0.8em;
  font-family: Input, 'SF Mono', Menlo, Monaco, Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  background: lighten($app-bg, 10);
  padding: 0.3em 0.4em;
  border-radius: 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.04);
}

@include phone {
  .Nav {
    ul {
      li {
        font-size: 1.6em;
      }
    }
  }

  .Blurb {
    h2 {
      font-size: 1.4em;
    }

    p {
      font-size: 0.9em;
    }
  }
}

@include tablet {
  .Nav {
    ul {
      li {
        font-size: 0.9em;
      }
    }
  }

  .Blurb {
    h2 {
      font-size: 2.4em;
    }

    p {
      font-size: 1.2em;
    }
  }
}

@include desktop {
  .Blurb {
    h2 {
      font-size: 3em;
    }

    p {
      font-size: 1.2em;
    }
  }
}
