.Grid {
  display: grid;
  margin: auto;

  .Item {
    .Media {
      display: block;
      width: 100%;
      margin: auto;
      background: black;
      margin-bottom: $padding-xxl;
    }

    .Media:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    .Details {
      line-height: 1.4em;
    }
  }

  &.About {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 72px 32px;

    .Item {
      .Media {
        border-radius: $radius-s;
        box-shadow: $box-shadow;
      }
    }
  }
}

.Hero {
  .Grid {
    position: relative;
    grid-template-columns: 1fr 1.8fr;
    grid-gap: 50px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 $padding-l;
    height: calc(100vh - #{$header-h});
    text-align: left;
  }
}

@include phone {
  .Grid {
    display: block;

    .Item {
      margin-bottom: $padding-xxl;

      .Media {
        width: 50%;
      }
    }
  }

  .Hero {
    .Grid {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

@include tablet {
  .Grid {
    display: grid;

    .Item {
      .Media {
        width: 100%;
      }
    }
  }

  .Hero {
    .Grid {
      display: grid;
    }
  }
}
