.Page.Editions {
  table {
    td {
      p {
      }
    }

    td,
    th {
      button {
        margin-top: $padding-s;
      }
    }

    th {
      p {
        height: 70px;
      }
    }

    tr {
      border-bottom: 1px solid #444;
    }

    button.disabled {
      background: #333;
      color: #777;
    }

    svg {
      path {
        fill: $app-accent-alt;
      }
    }
  }
}

@include phone {
  .Page.Editions {
    table {
      text-align: center;
      th {
        p {
          display: none;
        }

        button {
          padding: 5px 10px;
        }
      }

      td {
      }
    }
  }
}

@include tablet {
  .Page.Editions {
    table {
      text-align: left;
      th {
        p {
          display: block;
        }

        button {
          padding: 10px 20px;
        }
      }

      td {
      }
    }
  }
}
