button,
.button {
  background: $button-bg;
  background: $button-gradient;
  border: none;
  padding: $padding-m $padding-xl;
  border-radius: $radius-s;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-family: $app-font-header;
}

button:hover,
.button:hover {
  background: darken($button-bg, 10);
  background: $button-gradient-hover;
}

button.small,
.button.small {
  padding: $padding-s $padding-xl;
}

button.xs,
.button.xs {
  padding: $padding-s $padding-l;
  font-size: 0.9em;
}

@media all and (min-width: 15em) {
}

@media all and (min-width: 35em) {
}

@media all and (min-width: 40em) {
}

@media all and (min-width: 45em) {
}

@media all and (min-width: 60em) {
}

@media all and (min-width: 70em) {
}

@media all and (min-width: 80em) {
}
