button {
  background: $button-bg;
  border: none;
  padding: $padding-m $padding-xl;
  border-radius: $padding-xs;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-family: $app-font-header;
}

button:hover {
  background: darken($button-bg, 10);
}

button.small {
  padding: $padding-s $padding-xl;
}
