.Footer {
  position: relative;
  text-align: center;
  font-size: 0.8em;

  opacity: 0.6;

  a {
    color: $app-color;
  }
}

@media all and (min-width: 15em) {
  .Footer {
    padding: $padding-m;
    padding-top: 0;
  }
}

@media all and (min-width: 35em) {
}

@media all and (min-width: 40em) {
}

@media all and (min-width: 45em) {
  .Footer {
    padding: $padding-xl $padding-m;
  }
}

@media all and (min-width: 60em) {
}

@media all and (min-width: 70em) {
}

@media all and (min-width: 80em) {
}
