.Header {
  width: 100%;
  padding: 0 $padding-l;
  height: $header-h;
  background-color: $header-bg;
  font-family: $app-font-header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: fixed;

  .Logo {
    font-weight: 700;
    font-size: 1.2em;
  }

  .Nav {
    font-size: 0.9em;

    ul {
      li {
        display: inline-block;
        margin-right: $padding-m;

        a {
          background: $header-bg;
          padding: $padding-xs $padding-s;
          border-radius: $padding-xs;
        }

        a:hover {
          background: lighten($app-bg, 5);
        }

        a.active {
          background: lighten($app-bg, 10);
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }

    button {
      font-family: $app-font-header;
    }
  }

  a {
    text-decoration: none;
    color: $app-color;
  }

  a.active {
  }
}
