.Header {
  width: 100%;
  padding: 0 $padding-l;
  height: $header-h;
  background-color: $header-bg;
  font-family: $app-font-header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: fixed;

  .Logo {
    font-weight: 700;
    font-size: 1.2em;
  }

  .Nav {
    font-size: 0.9em;

    ul {
      li {
        display: inline-block;
        margin-right: $padding-m;
      }
      li:last-child {
        margin-right: 0;
      }
    }

    button {
      font-family: $app-font-header;
    }
  }

  a {
    text-decoration: none;
    color: $app-color;
  }
}
