.Hero {
  .container {
    position: relative;

    .content {
      position: absolute;
      z-index: 2;
      top: 10%;
      left: 50%;
      text-align: center;
      transform: translateX(-50%) translateY(0%);
      font-size: 2em;

      .image {
        width: $hero-image-w / 3;
        height: $hero-image-h / 3;

        margin: auto;
      }
    }

    canvas {
      width: 100%;
      height: $hero-canvas-h;
      background: black;
    }
  }

  text-align: center;
}
