.Hero {
  .container {
    position: relative;

    .image {
      width: $hero-image-w / 4;
      height: $hero-image-h / 4;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin: auto;
    }

    canvas {
      width: 100%;
      height: $hero-canvas-h;
      background: black;
    }
  }

  text-align: center;
}
