.Page {
  padding: 0 $padding-l;
  padding-top: $header-h;

  .Content {
    header {
      text-align: center;
    }

    footer {
      text-align: center;
    }

    .main {
      padding-top: $padding-xxl * 2;
    }

    padding: $padding-letterbox;
    max-width: 1200px;
    margin: auto;
  }

  .full-width {
  }

  &.Download {
    padding-left: 0;
    padding-right: 0;

    .Content {
      max-width: 100%;

      header,
      .main,
      footer {
        padding-left: $padding-l;
        padding-right: $padding-l;
      }

      .main {
        margin: $padding-xxl * 2 0;
        background: darken($app-bg, 2);
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
      }

      .Form {
        align-self: center;
        a {
          display: inline-block;
          margin-top: $padding-l;
        }
      }
    }
  }

  &.Home {
    padding: 0;

    .Content,
    .main {
      padding: 0;
    }
  }

  &.Editions {
    table {
      td {
        p {
          font-size: 0.9em;
        }
      }

      td,
      th {
        button {
          margin-top: $padding-s;
        }
      }

      th {
        p {
          height: 70px;
        }
      }

      tr {
        border-bottom: 1px solid #444;
      }

      button.disabled {
        background: #333;
        color: #777;
      }

      svg {
        path {
          fill: $app-accent-alt;
        }
      }
    }
  }

  .disclaimer {
    padding: $padding-m 0;
    font-size: 0.8em;
  }
}

@media all and (min-width: 15em) {
  .Page {
    &.Editions {
      table {
        text-align: center;
        th {
          p {
            display: none;
          }

          button {
            font-size: 0.8em;
            padding: 5px 10px;
          }
        }

        td {
          font-size: 0.8em;
        }
      }
    }

    &.Download {
      .Content {
        .main {
          height: 200px;
        }
      }
    }
  }
}

@media all and (min-width: 35em) {
}

@media all and (min-width: 40em) {
}

@media all and (min-width: 45em) {
  .Page {
    &.Editions {
      table {
        text-align: left;
        th {
          p {
            display: block;
          }

          button {
            font-size: 1em;
            padding: 10px 20px;
          }
        }

        td {
          font-size: 1em;
        }
      }
    }
    &.Download {
      .Content {
        .main {
          height: 400px;
        }
      }
    }
  }
}

@media all and (min-width: 60em) {
}

@media all and (min-width: 70em) {
}

@media all and (min-width: 80em) {
}
