.Page {
  padding: 0 $padding-l;
  padding-top: $header-h;

  .Content {
    header {
      text-align: center;
    }

    footer {
      text-align: center;
    }

    .main {
      padding: $padding-xxl * 2 0;
    }

    padding: $padding-letterbox;
    max-width: 1200px;
    margin: auto;
  }

  &.Home {
    padding: 0;

    .Content,
    .main {
      padding: 0;
    }
  }

  &.Editions {
    table {
      td {
        p {
          font-size: 0.9em;
        }
      }

      td,
      th {
        button {
          margin-top: $padding-s;
        }
      }

      th {
        p {
          height: 70px;
        }
      }

      tr {
        border-bottom: 1px solid #444;
      }

      button.disabled {
        background: #333;
        color: #777;
      }

      svg {
        path {
          fill: $app-accent;
        }
      }
    }
  }
}
