.Page {
  padding: 0 $padding-l;
  padding-top: $header-h;

  .Content {
    header {
      text-align: center;
    }

    padding: $padding-letterbox;
    max-width: 1200px;
    margin: auto;
  }

  &.Home {
    padding: 0;

    .Content {
      padding: 0;
    }
  }
}
