.Table {
  width: 100%;
  text-align: left;

  tr {
    th {
      p {
        b {
          display: block;
          margin-bottom: $padding-s;
        }
      }
    }

    td,
    th {
      max-width: 100px;
      padding: $padding-m 0;
    }
  }

  tr {
    border-bottom: 1px solid white;
  }
}

@media all and (min-width: 15em) {
}

@media all and (min-width: 35em) {
}

@media all and (min-width: 40em) {
}

@media all and (min-width: 45em) {
}

@media all and (min-width: 60em) {
}

@media all and (min-width: 70em) {
}

@media all and (min-width: 80em) {
}
