h2 {
  font-size: 1.5em;
  margin-bottom: $padding-xxl;
  font-family: $app-font-header;
}

h3 {
  font-size: 1.2em;
  margin-bottom: $padding-xl;
  font-family: $app-font-header;
}

a {
  color: $app-color;
}

.Code {
  font-family: monospace;
  background: lighten($app-bg, 10);
  padding: 3px;
  border-radius: 3px;
}
