$app-bg: #111;
$app-color: #eee;
$app-font: 'Dosis', sans-serif;
$app-font-header: 'Dosis', sans-serif;
$app-font-body: 'Lato', sans-serif;
$header-bg: #000;

$hero-image-w: 2956px;
$hero-image-h: 1804px;
$hero-canvas-h: 500px;

$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 15px;
$padding-l: 20px;
